target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

*.iml
.idea/

/.apt_generated/
.vscode
.classpath
.DS_Store
.settings
.project
.factorypath
~$Masterclass-Hands-on_Liberty_101_for_Developers.pptx